<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
</head>
<body>
<h1>MEEJIN CHOI</h1>

<b>Where I'm from:</b>
<p>San Diego, CA</p>

<b>Year:</b>
<p>Sophomore</p>

<b>Fun Fact:</b>
<p>I need glasses, but after I lost the one I had 2 months ago, I just try to manage without them which means that I can't recognize people's faces from more than 10 feet away.</p>

<b>What I'm excited about:</b>
<p>I'm excited to use this course in working on other web development projects and to revisit the course over winter break so that I can really master the course.</p>
</body>
</html>
<style>
body {
	font-family: 'Alegreya', serif;
}

</style>
